
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h2 {
	font-size: 1.82em;
	font-weight: bold;
	color: #84E003;
}

h3 {
	font-size: 1.42em;
	font-weight: bold;
	color: #84E003;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #18BDF5;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

label {
	display: block;
	float: left;
	width: 120px;
}

.explain {
	background-color: #F5F29D;
	padding: 5px;
}

.formfields {
	padding-left: 5px;
}

.httpmethod {
	width: 55px;
}

.configuration {
	padding: 5px;
	border: #18BDF5 1px dotted;
}

.submit {
	border-top:		2px solid #C5EDFA;
	border-left:	2px solid #C5EDFA;
	border-right:	2px solid #4f6267;
	border-bottom:	2px solid #4f6267;
	padding:		5px 10px !important;
	margin-top:		10px;
	font-size:		14px !important;
	background-color:	#7ED9F7;
	color:			#2d525d;
}

/* Header */

#header {
	width: 778px;
	height: 180px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 60px 0 0 0;
	background: url(http://www.skysql.com/sites/all/themes/skysql/images/logo.png) no-repeat left top;
}

#logo h1 {
	margin: 0;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #8AD9F3;
}

/* Page */

#page {
	width: 778px;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	width: 440px;
}

.section {
	padding: 10px;
	border: #18BDF5 1px dotted;
	margin-bottom: 10px;
}

.section .meta {
	margin: 0 0 30px 0;
	padding: 0;
	color: #C6C6C6;
	line-height:normal;
}

.section .meta a {
	color: #C6C6C6;
}

.section .entry {
	padding-bottom: 30px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Tooltips */

.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 350px;
}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
